* {
  box-sizing: border-box;
  overflow-wrap: break-word !important;
  overflow-x: hidden !important;
}

/* Colors taken form Night Owl */
:root {
  --background: #011627;
  --foreground: #d6deeb;
  --surface: #1d3b53;
  --accent: #f78c6c;
  --primary: #c792ea;
  --radius: 0.5rem;
  --filter: invert(92%) sepia(13%) saturate(391%) hue-rotate(187deg)
    brightness(97%) contrast(90%);
  --max-width: min(90rem, 95vw);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--background);
  color: var(--foreground);
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 0 3vw;
}

a {
  text-decoration: none;
  color: var(--foreground);
}

a:hover {
  filter: brightness(0.9);
}

img {
  border-radius: var(--radius);
}

#results, #code {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
}

.tags span ~ span::before {
  content: ', '; 
}

.container {
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--surface);
  margin: 0.5rem;
  width: var(--max-width);
}

#images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#images > div {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  width: min-content;
}

#images img {
  height: min(50vh, 18rem);
  transition: 200ms all ease-in-out;
}

#images img:hover {
  transform: scale(1.05);
  transform-origin: center;
}

#images .img-title {
  margin-top: 0.3rem;
  width: 100%;
}

#news > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin: 1rem 0;
}

#news div {
  flex-grow: 1;
}

#news img {
  height: 7rem;
  width: auto;
}

#videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#videos > a {
  padding: 1rem;
  margin: 0.5rem;
  background: var(--surface);
  border-radius: var(--radius);
  width: min(20rem, 80vw);
}

#videos img {
  width: 100%;
  aspect-ratio: 16/9;
}

#videos img.song {
  aspect-ratio: 1/1;
}

.thumbnail-container {
  position: relative;
}

.thumbnail-container span {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.7rem 0.8rem;
  border-radius: var(--radius);
  padding: 0.3rem;
  background-color: var(--surface);
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: min(90vw, 35rem);
  padding: 0.2rem;
  border-radius: var(--radius);
  background: var(--surface);
}

.search-container > * {
  padding: 0.5rem 0.3rem;
  border: none;
}

.search-row-container {
  display: flex;
  flex-direction: row;
  width: min(90vw, 35rem);
  padding: 0.4rem;
  background: var(--surface);
  border-radius: var(--radius);
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.search-row-container .title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0.7rem;
}

.search-submit {
  background: var(--surface);
  color: var(--foreground);
  cursor: pointer;
  border-radius: var(--radius);
  transition: 0.3s ease-in-out filter;
  font-size: large;
}

.search-submit:hover {
  filter: brightness(1.2);
}

.search-input {
  background: var(--background);
  color: var(--foreground);
  font-size: large;
  border: none;
}

.search-input:focus {
  outline: none;
}

.search-row-input {
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  flex-grow: 1;
}

.search-submit {
  width: 100%;
  font-weight: 500;
}

#search-icon {
  box-sizing: content-box;
  height: 1.5rem;
  width: auto;
  padding: 0 1rem;
  cursor: pointer;
}

.title {
  font-size: min(4rem, 17vw);
  font-weight: 500;
  margin: 1rem 0;
  background: linear-gradient(90deg, var(--primary), var(--accent));
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#providers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

#providers a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0.3rem;
  border-radius: var(--radius);
  background: var(--surface);
}

#providers a:hover, #providers .selected {
  transition: all ease-in-out 200ms;
  transform-origin: center;
  box-shadow: 0 4px 2px -2px var(--accent);
}

#providers img {
  height: 1.5rem;
  width: auto;
  filter: var(--filter);
}

#providers span {
  margin-left: 0.2rem;
  font-weight: 700;
}

#btm-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
}

#btm-container a {
  padding: 0.7rem 1rem;
  margin: 0 0.5rem;
  border-radius: var(--radius);
  background: var(--surface);
}

#details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: min-content;
  max-width: var(--max-width);
}

#details>* {
  height: min-content;
  flex-grow: 1;
}

#wiki {
  display: flex;
}

#wiki img {
  height: 10rem;
}

#wiki p {
  margin: 10px;
  max-width: 25rem;
}

#dict {
  margin: 1rem;
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#dict span {
  color: var(--accent);
}

#dict p {
  font-size: large;
  font-weight: 700;
  margin: 0.3rem 0;
}

#dict div {
  font-style: italic;
}

#weather {
  margin: 1rem;
}

#error {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error h1 {
  font-weight: 700;
  font-size: 12rem;
  margin: 0;
}

#timetaken {
  margin-bottom: 2rem;
}

@media screen and (max-width: 968px) {
  .search-row-container {
    margin-top: 4rem;
  }
  #brand {
    position: absolute;
    margin: 0.7rem;
    width: 100%;
    top: 0;
    text-align: center;
  }
  #brand .title {
    font-size: 2rem;
  }
  .search-row-input {
    max-width: 66vw;
  }
  #wiki {
    flex-direction: column;
  }
  #wiki img {
    width: 80vw;
    height: auto;
  }
  #news img {
    display: none;
  }
  #images img {
    width: 80vw;
    height: auto;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  width: calc(var(--max-width) + 2rem);
}

.footer a:hover {
  filter: drop-shadow(0 0 0.5rem var(--primary));
}

.footer img {
  filter: var(--filter);
  height: 1.25rem;
  width: auto;
}