<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon.svg" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>BnyroGO</title>
  </head>
  <body>
    <h1 id="title">
      <span id="b">B</span>
      <span id="n">n</span>
      <span id="y">y</span>
      <span id="r">r</span>
      <span id="o-1">o</span>
      <span id="g">G</span>
      <span id="o-2">O</span>
    </h1>
    <form class="search-container" method="get" action="search">
      <input type="text" name="q" class="search-input" autofocus required />
      <input type="submit" class="search-submit" value="Search" />
    </form>
  </body>
</html>
